body {
	/* background-image: url("https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260"); */
    background: linear-gradient(to right, #cc95c0, #dbd4b4, #7aa1d2);
    background-attachment: fixed;
	background-size: cover;
	margin: 0;
	height: 100%;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
	line-height: 1.5;
}

footer {
	position: fixed;
	bottom: 0px;
	/* background-color: rebeccapurple; */
	width: 100%;
	height: 42px;
	padding: 4px;
	padding-left: 8px;
	box-shadow: 2px 2px 2px 2px black;
	justify-content: flex-start !important;
	display: block;
}

header {
	position: fixed;
	top: 0px;
	background: linear-gradient(to right, rebeccapurple, #dbd4b4, #7aa1d2);
	width: 100%;
	height: 20px;
	opacity: 0.5;
	padding: 4px;
	color: white;
	font-size: 12px;
	display: block;
}

p {
	cursor: default;
	margin-top: 0;
	margin-bottom: 1rem;
    filter: none !important;
}

[id^="button"] {
	margin-left: 20px;
	color: white;
	cursor: pointer;
	font-size: 30px;
	position: relative;
	bottom: 6px;
}
